@page "/"

<br />

<div class="center1">
    <h1>Hello!</h1>
</div>

<div class="center2">
    <p>I'm Patrick De La Rosa. Welcome to my website, a potential collection of useful apps (for artists).</p>
</div>
<!--publish blazor serverapp to azure app, create github repo on this project, link github repo on azure, then you can just push and update-->

<br />

